/.vscode/
bin/
CMakeFiles/
*.cmake
CMakeCache.txt
Makefile
u1_sol_template/solution_u1.aux
u1_sol_template/solution_u1.log
u1_sol_template/solution_u1.synctex.gz
u1_sol_template/solution_u1.pdf
u1_sol_template/solution_u1.fdb_latexmk
u1_sol_template/solution_u1.fls
exercisesandprojects.pdf
/testing/
/build/
*.Rhistory